/* 1. Imports */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Righteous&display=swap');

/* 2. Root & Global Styles */
:root {
    --primaryColor: lightsteelblue;
    --secondaryColor: steelblue;
    --backgroundColor: black;
    --headerHeight: 110px;
    --footerHeight: 40px;
    --icoHeight: 20px;
}

* {
    margin: 0;
    padding: 0; 
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

html {
    background-color: var(--backgroundColor);
    background-image: url("");
}

body {
    background: var(--primaryColor);
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: whitesmoke;
    text-shadow: -1px 1px 1px black;
}

a.active {
    text-shadow: none;
}

p {
    font-size: 20px;
}
/* 3. Components */
/* Header */
header {
    font-size: large;
    color: white;
    width: 100%;
    height: var(--headerHeight);
    background: var(--secondaryColor);
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 5vw;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.logo {
    border: 2px solid;
    border-radius: 40px;
    height: 80px;
}

header img {
    height: 35px;
}

.logo-box {
    width: 80px;
    margin: 0 50px;
}

.name {
    font-size: 40px;
    text-shadow: -2px 2px 2px black;
    text-align: center;
    margin: auto;
}

.hamburger {
    display: none;
}

.hamburger-box {
    display: none;
}

.nav-buttons {
    display: flex;
    align-items: center;
    width: 180px;
    z-index: 1;
}

.nav-buttons ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.nav-buttons li a {
    display: block;
    color: white;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-buttons ul li a:hover {
    color: black;
    text-shadow: none;
    background: var(--primaryColor);
}

.nav-buttons ul li a.active {
    color: black;
    background: var(--primaryColor);
    transition: 0.2s;
}

.box:hover {
    cursor: pointer;
}

#closeBtn {
    text-align: end;
}

.closeBtn {
    cursor: pointer;
}

/* Slider */
.slider-container {
    position: relative;
}

.buttons-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.button {
    border: none;
    background: var(--primaryColor);
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
}

.button:first-child {
    left: 0;
}

.button:last-child {
    right: 0;
}

.button:hover {
    background: var(--secondaryColor);
}

.mySlides {
    height: 60vh;
    width: auto;
}

.mySlides2 {
    height: 60vh;
    width: auto;
}

.mySlides3 {
    height: 60vh;
    width: auto;
}

/* Content */
main {
    height: calc(100vh - var(--headerHeight) - var(--footerHeight) - var(--icoHeight));
    overflow-y: auto;
}

.flex_container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: top;
    text-align: center;
    position: relative;
}

section {
    text-align: center;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.form {
    display: block;
    width: 200px;
    margin: 0 auto;
}

.form > input, textarea {
    background: lightcyan;
    border: none;
    width: max-content;
    padding: 8px;
    margin: 5px;
    width: 200px;
    text-align: center;
}

#email-text {
    cursor: pointer;
    transition: color 1s;
}  

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 8px;
}

.contact-img {
    height: auto;
    min-height: 115px;
    width: 100vw;
    object-fit: cover;
}


/* Footer */
footer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: var(--footerHeight);
    color: white;
    background: var(--secondaryColor);
    text-shadow: -1px 1px 1px black;
}

.ico_container {
    display: flex;
    height: var(--icoHeight);
    justify-content: end;
    padding-right: 8px;
}

.ico a img {
    transition: 0.5s;
    width: 20px;
    height: 20px;
}

.ico_img:hover {
    transform: translateY(5px);
}
  
/* 4. Media Queries */
@media only screen and (max-width: 1010px) {
    .logo-box {
        margin: auto;
    }
    .hamburger-box {
        height: 80px;
        width: 80px;
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .hamburger {
        display: block;
        cursor: pointer;
        margin: auto;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }
    .nav-buttons {
        height: 0;
        position: absolute;
        align-items: center;
        top: 110px;
        background: var(--secondaryColor);
        transition: 0.3s;
        overflow: hidden;
        margin: 0 auto;
    }
    .nav-buttons.active {
        display: block;
        height: auto;
        width: 100%;
        margin: 0 auto;
        transition: 0.2s;
    }
    .nav-buttons ul {
        display: block;
        height: auto;
        width: fit-content;
        margin: 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 1;
    }
    .nav-buttons.active {
        opacity: 1;
    }
    .nav-buttons ul li a {
        margin: 12px auto;
    }
    .logo-box {
        margin: auto;
    }
}

@media only screen and (max-width: 574px) {
    header {
        height: var(--headerHeight);
    }
    .nav-buttons {
        top: 110px;
    }
    .logo-box {
        margin: auto;
    }
}

@media only screen and (max-width: 574px) {
    .name {
        display: none;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.description {
    padding: 20px;
    text-align: center;
    display: none;
    background: var(--primaryColor);
    position: fixed;
    height: auto;
    width: 400px;
    left: 50%;  /* Center the element horizontally */
    top: 50%;   /* Start positioning the element from the center of the viewport */
    transform: translate(-50%, -50%);  /* Adjust for the height and width of the element itself */
    border: 1px solid black;
    border-radius: 6px;
    z-index: 9999;
}
