@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root {
    --headerHeight: 105px;
    --footerHeight: 128px;
    --primaryColor: #333;
    --secondaryColor: #ff6600;
    --backgroundColor: #f2f2f2;
    --secondaryBackgroundColor: #333;
    --textColor: #fff;
}

html {
    background: var(--primaryColor);
    scroll-behavior: smooth;
    overflow-x: none;
}

main {
    min-height: calc(100vh - var(--headerHeight) - var(--footerHeight) - 38px);
    overflow-y: auto;
}

header {
    flex-direction: column;
    background-color: var(--secondaryBackgroundColor);
    color: var(--textColor);
    height: var(--headerHeight);
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

header h1 {
    margin: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.nav-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-links li {
    margin: 10px 0;
    list-style-type: none;
}

.nav-links a {
    color: var(--textColor);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
    display: block;
    text-align: center;
}

.nav-links a:hover {
    color: var(--secondaryColor);
}

.nav-container {
    position: sticky;
    box-sizing: border-box;
    top: 0;
    background-color: var(--primaryColor);
    margin-top: -1px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

footer {
    background-color: var(--secondaryBackgroundColor);
    color: var(--textColor);
    text-align: center;
    height: var(--footerHeight);
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    max-height: 97px;
    margin: 0 auto;
    text-align: center;
}

.footer-logo img {
    max-width: 100px;
    height: auto;
    border-radius: 50px;
}

.footer-links ul,
.footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-links li,
.footer-social li {
    margin: 5px 10px;
    display: inline-block;
}

.footer-links a,
.footer-social a {
    color: var(--textColor);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
    padding: 0;
}

.footer-links a:hover,
.footer-social a:hover {
    color: var(--secondaryColor);
}

.footer-text {
    font-size: 12px;
    text-align: center;
    margin-top: 14px;
}

.footer-logo,
.footer-links,
.footer-social {
    width: 370px;
}

.footer-social img {
    height: 30px;
    width: 30px;
    margin: 0;
}

footer ul {
    margin-top: 50px;
}

footer img {
    margin-top: 30px;
}

body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow-x: hidden;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.about-container {
    padding: 20px 0;
    background: var(--backgroundColor);
}

.about-container section {
    margin-bottom: 30px;
}

.about-container h2 {
    font-size: 28px;
    color: var(--primaryColor);
}

.about-container h3 {
    font-size: 24px;
    margin-top: 10px;
}

.about-container p {
    margin-top: 20px;
    font-size: 16px;
}

.upcoming-events {
    padding: 30px 0;
    background-color: var(--backgroundColor);
}

.upcoming-events ul {
    margin-top: 20px;
}

.upcoming-events li {
    font-size: 16px;
    margin-bottom: 10px;
}

.testimonials {
    padding: 30px 0;
    background-color: var(--textColor);
}

blockquote {
    border-left: 4px solid var(--primaryColor);
    padding-left: 20px;
    font-style: italic;
}

blockquote p {
    margin-top: 20px;
    font-size: 18px;
}

blockquote cite {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-style: normal;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.art-item {
    background-color: var(--textColor);
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    text-align: center;
    min-width: 400px;
}

.art-item img {
    max-width: 100%;
    height: auto;
}

.newsletter h2 {
    font-size: 24px;
}

.newsletter-form {
    margin-top: 20px;
}

.newsletter-form input[type="email"] {
    padding: 10px;
    width: 250px;
    border: none;
}

.newsletter-form button {
    background-color: var(--secondaryColor);
    color: var(--textColor);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.newsletter-form button:hover {
    background-color: #ff4500;
}

.logo {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    margin: 10px;
}

.login img {
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin: 10px;
}

.login:hover {
    filter: invert();
}

.login-window {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.donate-section,
.register-section,
.newsletter {
    display: flex;
    flex-direction: column;
    background-color: var(--secondaryBackgroundColor);
    color: var(--textColor);
    padding: 20px;
    text-align: center;
}

.register-section label {
    color: var(--textColor);
}

button {
    background-color: var(--secondaryColor);
    color: var(--textColor);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #d25400;
}

form {
    text-align: center;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--primaryColor);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

#register-button {
    background-color: var(--secondaryColor);
}

#register-button:hover {
    background-color: #ff4500;
}

.login-container {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--textColor);
}

.register-container {
    display: none;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--textColor);
}

button[type="submit"] {
    background-color: var(--secondaryColor);
    color: var(--textColor);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #ff4500;
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: var(--secondaryColor);
    text-decoration: none;
    font-weight: bold;
}

.imageModal {
    display: none;
}

.imageModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: #333333d4;
}

#modalImage {
    object-fit: contain;
    max-height: 85vh;
    max-width: 95vw;
    box-shadow: 0px 0px 100px;
}

#fullgallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
    text-align: center;
}

.photo {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    text-align: center;
}

#agree-terms {
    color: var(--primaryColor);
}

.categories {
    display: flex;
    flex-direction: column;
    min-height: 900px;
}

#fullgallery {
    align-items: center;
}