@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

:root {
    --primaryColor: #6B9094;
    --secondaryColor: #946F6B;
    --backgroundColor: #1C1C1C;
    --secondaryBackgroundColor: #f2f2f2;
    --textColor: #fff;
    --fontFamily: 'Nunito Sans', sans-serif;
    --headerHeight: 565px;
    --footerHeight: 140px;
}

/* Reset some default styles */
html, body, h1, h2, h3, p, ul, li, button {
    margin: 0;
    padding: 0;
}

html {
    background: var(--primaryColor);
    scroll-behavior: smooth;
    font-family: var(--fontFamily);
    overflow: auto;
    overflow-x: hidden;
}

header {
    background-color: var(--secondaryColor);
    color: var(--textColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 50px 36px -28px inset;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.logo {
    width: 100%;
    filter: drop-shadow(2px 2px 2px black);
}

header h1 {
    margin: 0;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}

.nav-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-links li {
    margin: 10px 0;
    list-style-type: none;
}

.nav-links a {
    color: var(--textColor);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
    display: block;
    text-align: center;
}

.nav-links a:hover {
    color: var(--secondaryColor);
    text-decoration: none;
}

.nav-container {
    position: sticky;
    box-sizing: border-box;
    top: 0;
    z-index: 1000;
    background-color: var(--primaryColor);
    box-shadow: 0px 5px 50px 4px rgba(0, 0, 0, 0.2);
    margin-top: -1px;
    text-shadow: 1px 1px 1px black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

footer {
    background-color: var(--secondaryColor);
    color: var(--textColor);
    text-align: center;
    height: var(--footerHeight);
    text-shadow: 1px 1px 1px black;
}

.footer-content {
    max-width: 1200px;
    max-height: 97px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    max-width: 100px;
    height: auto;
    border-radius: 50px;
}

.footer-links ul,
.footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-links li,
.footer-social li {
    margin: 5px 10px;
    display: inline-block;
}

.footer-links a,
.footer-social a {
    color: var(--textColor);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
    padding: 0;
}

.footer-links a:hover,
.footer-social a:hover {
    color: var(--primaryColor);
}

.footer-text {
    font-size: 12px;
    text-align: center;
}

.footer-logo,
.footer-links,
.footer-social {
    width: 370px;
}

.footer-social img {
    height: 30px;
    width: 30px;
    margin: 0;
}

.footer-social img:hover {
    filter: invert();
}

footer ul {
    margin-top: 50px;
}

footer img {
    margin-top: 50px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--secondaryBackgroundColor);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* overflow-x: hidden; */
}

main {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    min-height: calc(100vh - var(--footerHeight) - var(--headerHeight));
}

main img {
    max-width: 200px;
    border-radius: 5px;
}

section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

label {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: var(--secondaryColor);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--primaryColor);
}

p {
    margin: 20px;
    font-size: 14px;
    color: #666;
}

a {
    color: var(--secondaryColor);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    font-size: 1.1em;
    color: #666;
}

.indent {
    margin: 10px;
}