:root {
  --primaryColor: grey;
  --secondaryColor: #252525;
  --backgroundColor: #3b3939;
  --secondaryBackgroundColor: whitesmoke;
  --textColor: whitesmoke;
}

body {
  font-family: Verdana, sans-serif;
  background-color: var(--backgroundColor);
  height: 100%;
  margin: 0;
  overflow-y: auto;
  color: var(--textColor);
  text-shadow: 2px 2px 3px black;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  background: var(--primaryColor);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  height: calc(100vh - 101px);
  overflow-y: auto;
}

.logo {
  width: 200px;
  margin-top: 14px;
}

#phoneImage {
  display: block;
  max-height: 300px;
  margin: 0 auto;
  border: none;
  justify-content: center;
}

header,
footer {
  display: flex;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  background: var(--secondaryColor);
  justify-content: center;
  text-align: center;
  color: var(--textColor);
}

header ul {
  display: flex;
  list-style-type: none;
}

header li a {
  color: var(--textColor);
  text-decoration: none;
  padding: 8px;
}

header li a:hover {
  background-color: #111;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: auto;
  max-width: 800px;
  margin: 0 auto;
  background: var(--backgroundColor);
  overflow-y: auto;
  padding-bottom: 10px;
  box-shadow: whitesmoke 0px 7px 29px 0px;}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

th,
td,
tr {
  border: 1px solid black;
  text-align: left;
  width: auto;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

td:hover,
td:active {
  background-color: darkgray;
}

li,
ul {
  list-style: none;
  max-width: 380px;
  padding: 0;
}

.data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

input {
  margin: 5px 5px;
  color: var(--textColor);
  background: var(--secondaryColor);
}


label {
  height: auto;
  padding-top: 6px;
  margin-right: 15px;
  justify-content: center;
}

a {
  text-align: center;
  text-decoration: none;
  color: var(--textColor);
  list-style-type: none;
}

textarea {
  width: auto;
  max-width: 200px;
}

.category-selector {
  display: flex;
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

#add-button {
  margin-bottom: 10px;
}

.radios {
  display: flex;
  text-align: center;
  width: auto;
  max-width: 50px;
  justify-content: center;
  margin: 0 auto;
}

#repairOptions label {
  display: inline-block;
  width: 400px;
  margin: 0 auto;
  padding-top: 15px;
  margin: 0px;
}

#repairOptions input {
  margin: 4px;
  width: auto;
}

#phone-name-input,
#input-field,
#repair-field,
#discountAmount {
  max-width: 200px;
}

button a {
  margin: 0;
  color: #111;
}

.logout-button {
  color: var(--textColor);
  background: var(--secondaryColor);
  margin: 5px 5px;
  width: 177px;
}

.search {
  max-width: 220px;
  width: auto;
  margin: 0 auto;
  display: flex;
  padding: 5px;
}

.search button {
  margin: 5px;
}

.highlight-red {
  color: red;
}

.highlight-blue {
  color: blue;
}

.selectMake {
  display: flex;
  margin-right: 15px;
  width: 200px;
}

.more {
  align-items: center;
  text-align: center;
  width: auto;
  max-width: 900px;
  margin: 0 auto;
  background: var(--secondaryBackgroundColor);
  overflow-y: auto;
  overflow-x: auto;
  padding-bottom: 10px;
  justify-content: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  border: 1px solid black;
  text-shadow: none;
  right: 2px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background: var(--secondaryBackgroundColor);
  border-radius: 15px;
  background: gray;
  color: var(--textColor);
  text-shadow: none;
}


#calcApp {
  border: none;
  background: none;
  font: inherit;
  padding: 0;
  color: var(--textColor);
}

#calcApp:hover {
  border-bottom: 2px solid whitesmoke;
}

#calcApp iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 0;
}

.calc-win {
  position: fixed;
  height: 420px;
  width: 300px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: none;
}

img {
  border-radius: 10px;
}

h1 {
  height: 25px;
}

.more {
  background: var(--backgroundColor);
}

#repair-calc {
  height: calc(100vh - 111px);
  top: 0;
}

section form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

iframe {
  height: calc(100vh - 147px);
  width: 100%;
}

.model {
  display: none;
  background: var(--primaryColor);
  position: fixed;
  height: 440px;
  width: 440px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid black;
  border-radius: 6px;
  z-index: 9999;
}

.contact-form {
  margin: 15px;
}

.contact-form h2 {
  margin: 0;
  text-align: end;
  margin-right: 2px;
}
.contact-form form {
  display: grid;
  grid-template-columns: min-content;
  justify-content: center;
}