:root {
    --primaryColor: #ABC9BD;
    --secondaryColor: #D7A29E;
    --backgroundColor: #ddd;
    --secondaryBackgroundColor: #f2f2f2;
    --buttonColor: #4c758c;
    --secondaryButtonColor: #4cae4c;
    --textColor: #111;
    --footerHeight: 40px;
    --headerHeight: 327px;
}

body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-align: center;
}

header,
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #333;
    color: #fff;
    text-align: center;
    border-radius: 8px;
}

main {
    padding: 15px;
    background: var(--backgroundColor);
    border-radius: 8px;
    margin: 20px auto;
}

nav {
    padding: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

p {
    font-family: 'Verdana', sans-serif;
    font-size: larger;
}

input,
select {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid var(--backgroundColor);
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

textarea {
    min-height: 130px;
    background-color: var(--secondaryBackgroundColor);
    font-family: 'Courier New', monospace;
    font-size: larger;
    border: none;
}

table {
    margin: auto;
    border-collapse: collapse;
}

table td,
th {
    border: 1px solid darkgray;
}

button {
    background: var(--buttonColor);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin: 3px;
}

button:hover {
    background: var(--primaryColor);
    color: var(--textColor);
}

header img {
    max-width: 200px;
}

tr:nth-child(even) {
    background-color: var(--secondaryBackgroundColor);
}

form {
    display: grid;
    flex-direction: column;
}

.table {
    overflow-x: auto;
}

.nested {
    margin-top: 10px;
    border: 2px solid #aaa;
    display: none;
}

.modal {
    background-color: var(--backgroundColor);
    margin: auto;
    padding: 20px;
    max-width: 100%;
    border-radius: 5px;
}

#closeModal {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.clear-button {
    background-color: red;
}

#login-section {
    padding: 10px;
    line-height: 1;
}

.task-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.photo:hover {
    cursor: col-resize;
}

.photo,
.photoGrid img {
    max-width: 100%;
}

.thumbnail {
    width: 40%;
    padding: 8px;
    cursor: zoom-in;
}

.pg {
    width: auto;
}

.add {
    border: 1px solid #333;
    padding: 8px;
    border-radius: 8px;
    margin: 8px;
}

#taskSelect {
    max-width: -webkit-fill-available;
}


#task-list label {
    display: block;
}

#task-list input[type="datetime-local"],
#task-list textarea,
#task-notes-input,
#task-date-input {
    width: -webkit-fill-available;
    border-radius: 4px;
}

.revert-image {
    filter: invert(1);
}

#pageDownButton {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100;
}

aside {
    background-color: var(--backgroundColor);
    border-radius: 8px;
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    overflow-y: auto;
    z-index: 1;
}

#login-section input {
    margin: 0;
}

#login-section {
    display: none;
}